<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card>
            <mat-card-content>
                <h2>Profile Edit</h2>
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                    <div fxLayout="row" fxFlex="100%" fxFlex.sm="95%" fxFlex.xs="950%" fxLayoutAlign="end center">
                        <button mat-raised-button color="primary" (click)="gotoList()">List</button>
                    </div>
                </div>
                <ng-container *ngIf="form" [formGroup]="form">
                    <mat-stepper [linear]="true" #stepper>
                        <mat-step fxLayoutGap="20px">
                            <ng-template matStepLabel>Information</ng-template>
                            <app-profile-information *ngIf="profileForm" [form]="profileForm"></app-profile-information>
                            <div>
                            </div>
                            <div fxFlex="grow" fxLayoutAlign="end end" fxLayoutGap="10px">
                                <button mat-button mat-raised-button color="primary" matStepperNext>Next</button>
                            </div>
                        </mat-step>
                        <mat-step label="Address">
                            <app-profile-addresse-list [forms]="addressesForm"></app-profile-addresse-list>
                            <div fxLayout="row" fxFlex="100" fxLayoutAlign="end end" fxLayoutGap="10px">
                                <button mat-button mat-raised-button color="primary" matStepperPrevious>Back</button>
                                <button mat-button mat-raised-button color="primary" matStepperNext>Next</button>
                            </div>
                        </mat-step>
                        <mat-step label="Family">
                            <app-profile-family-list [forms]="familiesForm"></app-profile-family-list>
                            <div fxLayout="row" fxFlex="100" fxLayoutAlign="end end" fxLayoutGap="10px">
                                <button mat-button mat-raised-button color="primary" matStepperPrevious>Back</button>
                                <button mat-button mat-raised-button color="primary" matStepperNext>Next</button>
                            </div>
                        </mat-step>
                        <mat-step label="Achivement">
                            <app-profile-achivement-list [forms]="achivementsForm"></app-profile-achivement-list>
                            <div fxLayout="row" fxFlex="100" fxLayoutAlign="end end" fxLayoutGap="10px">
                                <button mat-button mat-raised-button color="primary" matStepperPrevious>Back</button>
                                <button mat-button mat-raised-button color="primary" matStepperNext>Next</button>
                            </div>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>Done</ng-template>
                            <p>You are now done.</p>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button (click)="stepper.reset()">Reset</button>
                            </div>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>Done</ng-template>
                            <p>You are now done.</p>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button (click)="stepper.reset()">Reset</button>
                            </div>
                        </mat-step>
                    </mat-stepper>

                    <div fxLayout="row" flex="100" fxLayoutAlign="end end" fxLayoutGap="20px">
                        <button mat-raised-button color="basic" (click)="clear()">Reset</button>
                        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
                    </div>
                </ng-container>
            </mat-card-content>
        </mat-card>
    </div>
</div>