<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between">
    <h2 fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">{{isEdit?"Edit":"Create"}} Occupation</h2>
    <form [formGroup]="form">
        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="100">
                <mat-form-field appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input matInput placeholder="Start Date" formControlName="startDate">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="100">
                <mat-form-field appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input matInput placeholder="End Date" formControlName="endDate">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <mat-checkbox class="example-margin" formControlName="isPresent">Is Present</mat-checkbox>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="100">
                <mat-label>Occupation Type</mat-label>
                <mat-button-toggle-group *ngIf="occupationTypes" multiple=false formControlName="typeId">
                    <mat-button-toggle *ngFor="let item of occupationTypes;" [value]="item.value">
                        {{item.key}}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="100">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput placeholder="Description" formControlName="description">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="20px">
            <button mat-raised-button color="basic" (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" (click)="onSubmit()"> {{isEdit?"Edit":"Update"}}</button>
        </div>
    </form>
</div>