<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <h2>City {{isEdit?'Edit':'Create'}}</h2>
        <form [formGroup]="form">
          <div fxLayout="row" fxLayoutAlign="end end">
            <button mat-raised-button color="primary" (click)="gotoList()">List</button>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" *ngIf="countries.length > 0">
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <mat-select formControlName="countryId" (selectionChange)="onCountryChange($event.value)">
                <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" *ngIf="states.length > 0">
            <mat-form-field appearance="outline">
              <mat-label>State</mat-label>
              <mat-select formControlName="stateId">
                <mat-option *ngFor="let state of states" [value]="state.id">{{ state.name
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
            <button mat-raised-button color="warn" (click)="gotoList()">Cancel</button>
            <button mat-raised-button color="primary" (click)="onSubmit()">{{isEdit?'Update':'Create'}}</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>