<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-around ">
    <h2 fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">{{isEdit?"Edit":"Create"}} Address</h2>
    <form [formGroup]="form">
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="50">
                <mat-form-field appearance="outline">
                    <mat-label>Address1</mat-label>
                    <input matInput placeholder="Address1" formControlName="address1">
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="50">
                <mat-form-field appearance="outline">
                    <mat-label>Address2</mat-label>
                    <input matInput placeholder="Address2" formControlName="address2">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="100">
                <mat-form-field appearance="outline">
                    <mat-label>Landmark</mat-label>
                    <input matInput placeholder="landmark" formControlName="landmark">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="33" *ngIf="countries.length > 0">
                <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="countryId">
                        <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="33" *ngIf="states.length > 0">
                <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="stateId">
                        <mat-option *ngFor="let state of states" [value]="state.id">{{ state.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="33" *ngIf="cities.length > 0">
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="cityId">
                        <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="100">
                <mat-form-field appearance="outline">
                    <mat-label>Pin Code</mat-label>
                    <input matInput placeholder="Pin Code" formControlName="pinNo">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="20px">
            <button mat-raised-button color="basic" (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" (click)="onSubmit()"> {{isEdit?"Edit":"Update"}}</button>
        </div>
    </form>
</div>