<!-- <div fxLayout="row" fxLayoutAlign="space-between">
<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button >
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        Mantrimony
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <button mat-button [matMenuTriggerFor]="menu">User Name</button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item  routerLink="/owner">Owner Actions</button>
            <button mat-menu-item  (click)="logout()">Logout</button>
            </mat-menu>
    </div>
</mat-toolbar>
</div>
 -->

<div fxLayout >
   <mat-toolbar color="primary">
        <div fxLayoutAlign="start center" fxFlex="80%">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawerClick()" *ngIf="true">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Mantrimony</span>
        </div>

        <div fxLayoutAlign="end">
            <button mat-button [matMenuTriggerFor]="menu">User Name</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/owner">Owner Actions</button>
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </div>
  </mat-toolbar>
</div>