<mat-toolbar>
    <span>Profile Edit</span>
</mat-toolbar>
<mat-card>
    <mat-card-header>
        <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="20px">
            <button mat-raised-button color="primary" (click)="gotoList()">List</button>

        </div>
        <ng-container *ngIf="form" [formGroup]="form">
            <mat-stepper [linear]="true" #stepper>
                <mat-step fxLayoutGap="20px">
                    <form>
                        <ng-template matStepLabel>Information</ng-template>
                        <app-profile-information *ngIf="profileForm" [genderTypes]="genderTypes"
                            [form]="profileForm"> </app-profile-information>
                        <div>
                            <button mat-button mat-raised-button color="primary" matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step  label="Address">
                    <div fxLayout="row" fxLayoutGap="20px">
                    <form>
                        <ng-container *ngFor="let addressForm of addressesForm.controls; let i = index">
                           <div>
                            {{addressForm.getRawValue()|json}}
                           </div>
                        </ng-container>
                      <div>Address</div>
                        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="20px"> 
                            <button mat-button mat-raised-button color="primary" matStepperPrevious>Back</button>
                            <button mat-button mat-raised-button color="primary" matStepperNext>Next</button>
                        </div>
                    </form>
                </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <p>You are now done.</p>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-stepper>
            <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="20px">
                <button mat-raised-button color="basic" (click)="clear()">Reset</button>
                <button mat-raised-button color="primary" (click)="onSubmit()">Create</button>
            </div>
        </ng-container>
    </mat-card-content>
</mat-card>